# --- Node ---
**/node_modules/
**/dist/
**/build/
**/.next/
**/.pnp
.pnp.*

# --- Env ---
**/.env*
.env*

# --- Logs ---
**/*.log
**/logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# --- Vercel ---
.vercel

# --- Output ---
**/out/
**/coverage/
**/.nyc_output

# --- TypeScript ---
*.tsbuildinfo
next-env.d.ts

# --- OS/System ---
.DS_Store

# --- Runtime data ---
*.pid
*.pid.lock
*.seed
pids

# --- Diagnostic reports ---
report.*.json

# --- Temp ---
.temp
.tmp

# --- Editor config ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# --- Yarn Plug’n’Play ---
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
